{% extends 'site_base.html' %}
{% load i18n staticfiles scheduletags %}
{% load static from staticfiles %}

{% block head_title %}Calendar: {{ object.name }}{% endblock %}
{% block tab_id %}id='home_tab'{% endblock %}
{% block extra_head %}
	{% include "url_fullcalendar_script.html" %}
	{% include "fullcalendar_script.html" %}
{% endblock %}

{% block no_well_body %}
    <div id='calendar'></div>

    {% include "fullcalendar_delete_modal.html" %}
    {% include "fullcalendar_change_modal.html" %}
{% endblock %}