{% load scheduletags %}
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'schedule/css/modal.css' %}" />
<link rel="stylesheet" href="{% static 'schedule/css/schedulefc.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'schedule/css/fullcalendar.min.css' %}" />
<script type='text/javascript' src="{% static 'schedule/js/moment.min.js' %}"></script>
<script type='text/javascript' src="{% static 'schedule/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type='text/javascript' src="{% static 'schedule/js/fullcalendar.js' %}"></script>
<script type='text/javascript'>

$(document).ready(function() {

    function setChangeModalProperties(event){
        if (event.event_editable){
            $('.alleventbtn').prop("disabled", false);
        }
        else{
            $('.alleventbtn').prop("disabled", true);
        }
        setModalURLs(event.event_edit_url, event.occ_edit_url)
    }

    function setDeleteModalProperties(event){
        if (event.event_deletable){
            $('.alleventbtn').prop("disabled", false);
        }
        else{
            $('.alleventbtn').prop("disabled", true);
        }
        setModalURLs(event.event_delete_url, event.occ_delete_url)
    }

    function setModalURLs(all_url, this_url){
        if(all_url){
            all_url = setURLParameters(all_url, next_param);
            $('.allevent').attr('href', all_url);
        }
        if(this_url){
            this_url = setURLParameters(this_url, next_param);
            $('.thisevent').attr('href', this_url);
        }
    }
    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function getURLParams(url){
        var sPageURL = url.split('?');
        var sParams = {};
        if (sPageURL.length < 2) return sParams;
        sPageURL = sPageURL[1];
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParam = sURLVariables[i].split('=');
            sParams[sParam[0]] =sParam[1];
        }
        return sParams;
    }

    function getURLParameter(sParam, other){
        var sParams = getURLParams(window.location.href);
        if (sParam in sParams) return sParams[sParam];
        return other;
    }

    function setURLParameters(url, sParams){
        var baseURL = url.split('?')[0];
        var sParams = $.extend(getURLParams(url), sParams);
        var keys = Object.keys(sParams);
        var keyVals = keys.map(function(v) { 
            return v + '=' + sParams[v]; 
        });
        return baseURL + '?' + keyVals.join('&');
    }

    function setURLPath(sParams){
        var keys = Object.keys(sParams);
        var keyVals = keys.map(function(v) { 
            return sParams[v]; 
        });
        return keyVals.join('/') + '/';
    }

    function setDateURL(title){
        var setOrNot = typeof changeDateURL !== typeof undefined ? true : false;
        if(!setOrNot) return false;
        
        var curDate = $('#calendar').fullCalendar('getDate');
        var curView = $('#calendar').fullCalendar('getView').name;
        y = curDate.get('year');
        m = curDate.get('month') + 1;
        d = curDate.get('date');
        sParams = {
            'view' : curView,
            'year' : y,
            'month' : m,
            'day' : d
        }
        var baseURL = "{{ base_url }}";
        var newURL = baseURL + setURLPath(sParams);
        //window.location = newURL;
        window.history.pushState(title, title, newURL);
        next_param = {
            'next' : newURL,
        };
        start_param = {
            'start_date' : y + '-' + m + '-' + d
        };

        $(".start-date-link").attr('href', function(){
            return setURLParameters($(this).attr('href'), start_param);
        });
        $(".next-link").attr('href', function(){
            return setURLParameters($(this).attr('href'), next_param);
        });
        $(".month-link").attr('href', function(){
            sParams = {
                'year' : y,
                'month' : m,
            }
            baseURL = $(this).attr('baseurl');
            return baseURL + setURLPath(sParams); 
        });
    }

    function ifNotTempVar(tempVar, other){
        return (tempVar.length == 0) ? other : tempVar;
    }

    function createEventRedirect(start, end, jsEvent, view){
        $.ajax({
            type: 'POST',
            url: "{% url 'api_select_create' %}",
            dataType: 'json',
            data : {
                'start': start.toISOString(),
                'end' : end.toISOString(),
                'calendar_slug' : '{{calendar_slug}}',
            },
            success : function(result) {
                //console.log(result);
                if (result.redirect) {
                    window.location = setURLParameters(result.redirect, next_param);
                }
                if (result.success) $('#feedback input').attr('value', ''); 
                $('#calendar').fullCalendar('refetchEvents');
                },
            error : function(req, status, error) {
                console.log(error);
            }
        });
        $('#calendar').fullCalendar('unselect');
        return false;
    }

    function redirectToCreateEvent(start){
        var eventCreateURL = "{% url 'calendar_create_event' request.user.base_profile.calendar.slug %}?next={{ request.get_full_path }}"
        var baseURL = "{{ base_url }}";
        var newURL = baseURL + setURLPath(sParams);
        start_param = {
            'next' : newURL,
            'start_date' : y + '-' + m + '-' + d
        };
        //console.log(start.format('YYYY-MM-DD'));
        //window.history.pushState(title, title, newURL);
        window.location = setURLParameters(eventCreateURL, start_param);
    }

    var y = ifNotTempVar('{{ year }}');
    var m = ifNotTempVar('{{ month }}');
    var d = ifNotTempVar('{{ day }}');
    var view = ifNotTempVar('{{ fcview }}', 'month');
    var date = moment();

    if (y && m && d){
        date = moment(y + '-' + m + '-' + d);
    }

    var next_param = {
            'next' : '{{ request.get_full_path }}',
        };
    var start_param = {
            'start' : y + '-' + m + '-' + d,
        };

    $('#calendar').fullCalendar({
        defaultDate: date,
        defaultView: view,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        eventLimit: true, // allow 'more' link when too many events
        selectable: true, //Allows a user to highlight multiple days or timeslots by clicking and dragging.
        selectHelper: true,
        events: "{% url 'api_occurences' %}?calendar_slug={{calendar_slug}}",
        loading: function(bool) {
            if (bool) {
                $('#loading').show();
            }else{
                $('#loading').hide();
            }
        },
        eventRender: function(event, element) {
            var s = element[0].className;
            if(s.indexOf("fc-day-grid-event") < 0){
                /*
                title = element.children().find( '.fc-title' );
                title.html('<a href="' + getEventViewURL(event) +
                    '">' + title.html() + '</a>')
                */
                if(event.editable && "{{ request.get_full_path }}".indexOf("/admin") != 0){
                    time = element.children().find( '.fc-time' );
                    /*
                    var edit_button = document.createElement("button");
                    var edit_icon = document.createElement("span");
                    edit_button.className = 'btn btn-default btn-sm pull-right edit_event';
                    edit_button.onclick = function(jsEvent){
                        jsEvent.preventDefault();
                        setModalProperties('edit', event);
                    };
                    edit_button.setAttribute('data-toggle', 'modal');
                    edit_button.setAttribute('data-target', '#eventModal');
                    edit_icon.className = 'glyphicon glyphicon-pencil';
                    edit_button.appendChild(edit_icon);
                    */

                    var delete_button = document.createElement("button");
                    var delete_icon = document.createElement("span");
                    delete_button.className = 't-btn pull-right delete_event';
                    delete_button.onclick = function(jsEvent){
                        jsEvent.preventDefault();
                        setDeleteModalProperties(event);
                    };
                    delete_button.setAttribute('data-toggle', 'modal');
                    delete_button.setAttribute('data-target', '#eventDeleteModal');
                    delete_icon.className = 'glyphicon glyphicon-remove delete_event'
                    delete_button.appendChild(delete_icon);

                    time.prepend( '<br>' );
                    time.prepend( delete_button );
                    //time.prepend( edit_button );
                }
            }
        },
        eventClick: function(calEvent, jsEvent, view) {
            if(calEvent.editable){
                var clickClass = jsEvent.target.className;
                if(clickClass.indexOf('delete_event') < 0){
                    setChangeModalProperties(calEvent);
                    $('#eventChangeModal').modal();
                }
            }
        },
        dayClick: function(date, allDay, jsEvent, view) {
                    if (allDay) {       
                        $('#calendar').fullCalendar('changeView', 'agendaWeek');
                        $("#calendar").fullCalendar('gotoDate', date);
                        setDateURL("fc-button");
                    }
                },
        eventDrop: function(event,delta,revertFunc) {
            $.ajax({
                    type: 'POST',
                    url: "{% url 'api_move_or_resize' %}",
                    dataType: 'json',
                    data : {
                        'id': event.id,
                        'event_id' : event.event_id,
                        'existed' : event.existed,
                        'delta' : delta.asMinutes(),
                    },
                    success : function(result) {
                        if (result.success) $('#feedback input').attr('value', ''); 
                        $('#calendar').fullCalendar('refetchEvents');
                        },
                    error : function(req, status, error) {
                        console.log(error);
                    }
                });
            return false;
        },
        eventResize: function(event,delta,revertFunc) {
            $.ajax({
                    type: 'POST',
                    url: "{% url 'api_move_or_resize' %}",
                    dataType: 'json',
                    data : {
                        'id': event.id,
                        'event_id' : event.event_id,
                        'existed' : event.existed,
                        'delta' : delta.asMinutes(),
                        'resize' : true,
                    },
                    success : function(result) {
                        if (result.success) $('#feedback input').attr('value', ''); 
                        $('#calendar').fullCalendar('refetchEvents');
                        },
                    error : function(req, status, error) {
                        console.log(error);
                    }
                });
            return false;
        },
        select: function( start, end, jsEvent, view  ) {
            if(['fc-bg', 'fc-content'].indexOf(jsEvent.toElement.className) > -1){
                redirectToCreateEvent(start);
            }
        }
    });

    setDateURL("initial");

    $('.fc-button').click(function(event){
        event.preventDefault();
        setDateURL("fc-button");
        $(this).css('background-color', 'white');
    });
    $('.fc-button').addClass('btn btn-default').removeClass('fc-state-default');

});
</script>