<div id="eventChangeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <p>Would you like to edit all occurrences in this event or just this occurrence?</p>
      </div>
      <div class="modal-footer">
          <a class="allevent" href="#">
          <button class="btn btn-default alleventbtn"> 
          All</button></a>
          <a class="thisevent" href="#">
          <button class="btn btn-default thiseventbtn"> 
          This</button></a>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>